body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 1200px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 2px solid #4CAF50;
}

.description {
    max-width: 700px;
}

.description h2 {
    margin: 0 0 10px;
    font-size: 1.8rem;
}

.description p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.project h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

/* Hover effect for project boxes */
.project:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project a:hover {
    color: #2E7D32;
    text-decoration: underline;
}
